@import "./index.scss";

.invite-request-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.invite-sender-profile-image {
  height: 70px;
  width: 70px;
}

.invite-request-message {
  font-family: "$text-font-family";
  text-align: center;
}

.invite-request-actions {
  display: flex;
  justify-content: flex-end;
}

.reject-invite-request-button {
  height: 30px;
  width: 80px;
  background-color: #ed5a5a;
  letter-spacing: 1px;
  border-radius: 5px;
  border-width: inherit;
  cursor: pointer;
}

.accept-invite-request-button {
  height: 30px;
  width: 80px;
  background-color: $yellow-color;
  letter-spacing: 1px;
  border-radius: 5px;
  border-width: inherit;
  cursor: pointer;
}
